html,
body,
video,
.viu-player {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.viu-player .hidden {
  display: none !important;
}


/* .vjs-viu-player-fontsize-drawer {
  width: 640px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -640px;
  background: rgba(53, 53, 53, 0.8);
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.36);
  z-index: 11;
}
.vjs-viu-player-fontsize-drawer .vjs-viu-player-fontsize-drawer-container {
  height: 100%;
  overflow: auto;
}
.vjs-viu-player-fontsize-drawer-container::-webkit-scrollbar {
  width: 5px;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
}
.vjs-viu-player-fontsize-drawer-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.vjs-viu-player-fontsize-drawer.active {
  right: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  /* padding: 90px 30px 108px 60px; */
}
.vjs-viu-player-fontsize-drawer .vjs-viu-player-size-title-span {
  padding: 95px 0 63px 78px;
  font-size: 50px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #000;
}
.vjs-viu-player-fontsize-drawer .vjs-viu-player-lang-items li {
  width: 100%;
  height: 92px;
  line-height: 92px;
  list-style: none;
  font-size: 32px;
  padding-left: 78px;
}

.vjs-fontsize-drawer-open .vjs-viu-player-panel {
  display: none !important;
}

.vjs-viu-player-list-container{
  
}
.vjs-viu-player-list{
  list-style: none;
  text-decoration: none;
}
.vjs-viu-player-list .vjs-viu-player-list-item {
  font-size: 48px;
  line-height: 96px;
}
.vjs-viu-player-list-item.active{
  background: #ffbf00;
}


.vjs-viu-player-fontsize-list {
  list-style: none;
  text-decoration: none;
}
.vjs-viu-player-fontsize-list .vjs-viu-player-fontsize-item {
  font-size: 48px;
  line-height: 96px;
}
.vjs-viu-player-fontsize-list .vjs-viu-player-fontsize-item.fs-active {
  background: #ffbf00;
}
.vjs-viu-player-info-offline-time {
  font-size: 40px;
}

.vjs-viu-player-advance-drawer {
  width: 640px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -640px;
  background: rgba(53, 53, 53, 0.8);
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.36);
  z-index: 11;
}
.vjs-viu-player-advance-drawer .vjs-viu-player-advance-drawer-container {
  height: 100%;
  overflow: auto;
}

.vjs-viu-player-advance-drawer.active {
  right: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  /* padding: 90px 30px 108px 60px; */
}
.vjs-advance-drawer-open .vjs-viu-player-panel {
  display: none !important;
}

.vjs-viu-player-list-title{
  font-size: 68px;
  padding: 30px 20px;
}


.vjs-viu-player-advance-drawer .vjs-viu-res-item.selected-active{
  color: #ffbf00;
}

.vjs-viu-player-advance-drawer .vjs-viu-res-item.active{
  color: #fff !important;
} 