@font-face {
  font-family: "viufont"; /* project id 1470295 */
  src: url("http://at.alicdn.com/t/font_1470295_tm3dnpi9o3.eot");
  src: url("http://at.alicdn.com/t/font_1470295_tm3dnpi9o3.eot?#iefix")
      format("embedded-opentype"),
    url("http://at.alicdn.com/t/font_1470295_tm3dnpi9o3.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1470295_tm3dnpi9o3.woff") format("woff"),
    url("//at.alicdn.com/t/font_1470295_tm3dnpi9o3.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1470295_tm3dnpi9o3.svg#viufont") format("svg");
}
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.video-js.viu-player {
  width: 100vw;
  height: 100vh;
}
.video-js.viu-player .hidden {
  display: none !important;
}

.video-js.viu-player .vjs-control {
  position: relative;
  text-align: center;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 7em;
}
.video-js.viu-player .vjs-time-control {
  font-size: 30px;
  line-height: 36px;
  min-width: 2em;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.video-js.viu-player .vjs-control-bar {
  width: 100%;
  position: absolute;
  bottom: 231px;
  left: 0;
  right: 0;
  height: 3em;
  padding: 0 40px;
  background: none;
  display: flex;
  flex-direction: row;
}
.video-js.viu-player.vjs-has-started .vjs-control-bar {
  transition: visibility 0.1s, opacity 0.1s;
}
.video-js.viu-player .vjs-progress-holder {
  flex: auto;
  transition: all 0.2s;
  height: 8px;
  margin: 0 10px;
}
.video-js.viu-player .vjs-time-control {
  font-size: 30px;
  line-height: 36px;
  min-width: 2em;
  width: auto;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
}
.video-js.viu-player .vjs-load-progress,
.video-js.viu-player .vjs-play-progress {
  border-radius: 10px;
}

.video-js.viu-player .vjs-play-progress {
  background: #ffbf00;
}
.video-js.viu-player .vjs-play-progress:before {
  font-size: 1.2em;
  position: absolute;
  right: -0.5em;
  z-index: 1;
  top: -0.1em;
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #fff;
}
.video-js.viu-player .vjs-slider {
  background: #6f6f6f;
  border-radius: 10px;
}
/*time-tooltip*/
.video-js.viu-player .vjs-time-tooltip,
.video-js.viu-player
  .vjs-progress-control:hover
  .vjs-progress-holder:focus
  .vjs-time-tooltip,
.video-js.viu-player .vjs-progress-control:hover .vjs-time-tooltip {
  background: #ffbf00;
  visibility: inherit;
  height: 38px;
  min-width: 94px;
  font-size: 28px;
  position: absolute;
  top: -1.8em;
  bottom: 0;
  color: #333333;
  z-index: 1;
}
.video-js.viu-player .vjs-mouse-display .vjs-time-tooltip {
  color: #fff !important;
}
/* .status-active */

.video-js.viu-player
  .vjs-control-bar.status-active
  .vjs-progress-control
  .vjs-progress-holder {
  height: 16px;
  font-size: 1.6777em;
}
/*vjs-viu-player-panel*/
.video-js.viu-player .vjs-viu-player-panel {
  position: absolute;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  top: initial;
  height: 450px;
  width: 100%;
  padding: 0 55px;
}
.video-js.viu-player .vjs-viu-player-panel button {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 20px 10px;
  position: relative;
  line-height: 40px;
  font-size: 40px;
  bottom: 108px;
}

.video-js.viu-player .vjs-viu-player-panel button > .vjs-icon-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-family: viufont;
  font-weight: 400;
  font-style: normal;
}
.video-js.viu-player
  .vjs-viu-player-panel
  .vjs-button
  > .vjs-icon-placeholder:before {
  line-height: 85px;
  font-size: 75px;
}
.video-js.viu-player .vjs-play-control.vjs-playing .vjs-icon-placeholder,
.video-js.viu-player .vjs-play-control.vjs-paused .vjs-icon-placeholder {
  font-family: VideoJS;
}
.video-js.viu-player .vjs-play-control.vjs-playing .vjs-icon-placeholder::before,
.video-js.viu-player .vjs-play-control.vjs-paused .vjs-icon-placeholder::before{
    font-size: 45px;
}

.video-js.viu-player
  .vjs-viu-player-panel
  button.vjs-info-button
  > .vjs-icon-placeholder:before {
  content: "\e64f";
  font-family: viufont;
}
.video-js.viu-player
  .vjs-viu-player-panel
  button.vjs-viu-subtitle-toggle
  > .vjs-icon-placeholder:before {
  content: "\e650";
  font-family: viufont;
}
.video-js.viu-player
  .vjs-viu-player-panel
  button.vjs-viu-advance-button
  > .vjs-icon-placeholder:before {
  content: "\e66c";
  font-family: viufont;
}

.video-js.viu-player
  .vjs-viu-player-panel
  button.vjs-viu-top-subtitle-toggle
  > .vjs-icon-placeholder:before {
  content: "\e653";
  font-family: viufont;
}

.video-js.viu-player
  .vjs-viu-player-panel
  > *:not(.vjs-control-bar).status-active {
  background: rgba(66, 66, 66, 0.8);
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

.video-js.viu-player .vjs-viu-player-drawer {
  display: none;
}

.vjs-viu-process-info {
  width: 100%;
  position: absolute;
  bottom: 310px;
  left: 0;
  right: 0;
  top: initial;
  padding-left: 70px;
}
.video-js.viu-player .vjs-viu-process-info .vjs-viu-process-info-title {
  font-size: 40px;
  color: #fff;
  line-height: 70px;
  text-shadow: 2px 2px 3px #000;
}
.video-js.viu-player .vjs-viu-process-info .vjs-viu-process-info-offlinetime {
  font-size: 20px;
}
